* { padding: 0; margin: 0; }
.title{
	font-size: 36px;
	padding-top: 10px;
	text-align: center;
}
body { background: #171717; font-family: 'Lato', sans-serif; text-transform: uppercase;}
.box{
    background: #393939;
    color: #A9A9A9;
    position: fixed;
    padding: 5px 0px 15px 10px;
    display: block;
    width: 100%;
    z-index: 5;
}
.box>div{
    margin-top:  -30px;
    padding-left: 20px;
    
}
.box>img{
    margin-right: 100px;
}
.box>div>a{
  text-decoration: none;
  color: #A9A9A9;
}
.box>div>a:hover{
  color: #F51616;
  transition: .5s;
}
.box>div>a>img{
  margin-top:  -5px;
}
.box>div>a>img:hover{
  scale: 1.7;
  transition: .5s;
}
a[href^=tel]{
  color: #A9A9A9;
  text-decoration: none;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Бургер */
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 4.8em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 1.7em;
    height: 45px;
    z-index: 5;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F51616;
    transition-duration: .25s;

  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    list-style: none;
    background: #393939;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    padding-top: 60px;
    z-index: 4;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #A9A9A9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .menu__box,.menu__item,.menu__btn{
    visibility: hidden;
  }
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ foter*/
.boxFoter{
  display: grid;
  padding: 0px 0 10px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px auto);
  justify-items: stretch;
  align-items: stretch;
}
.boxFoter>div{
  padding: 1em;
  background: #393939;
  text-align: center;
}
.FoterLine p{
  padding: 5px;
}
.FoterLine p>a{
  text-decoration: none;
  color: #A9A9A9;
}
.FoterLine address>a{
  text-decoration: none;
  color: #A9A9A9;
}
.elf>div>p>a:hover{
  color: #F51616;
  transition: .5s;
}
.social-icons-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px;
}
.social-icons-4 a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #efefef;
  position: relative;
  margin: 5px;
  text-align: center;
  box-shadow: 0 2px 6px #c1c1c1;
  font-size: 32px;
  color: #337AB7;
  transition: 0.5s;
}
.social-icons-4 a img {
  width: 32px;
  height: 32px;
  margin-top: 14px;
}
.social-icons-4 a i,
.social-icons-4 a img {
  z-index:2;
  position: relative;
  line-height: 60px;
}
.social-icons-4 a:hover {
  color: #fff;
}
.social-icons-4 a:after {
  content: '';
  display: block;
  position: absolute;
  background: #BFE2FF;
  border-radius: 100%;
  width: 0;
  height: 0;
  transition: 0.9s;
  top: 0;
  left: 50%;
}
.social-icons-4 a:hover:after {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  background: linear-gradient(140deg, #0800ff, #F51616)
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ foter*/
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Бургер */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ соц сети */

/* /////////////// galary */
.h1galary{
  font-size: 30px;
  color:#A9A9A9
}
.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  padding: 0px 0px 10px 0px;
}

.main_image {
  min-width: 600px;
  width: 960px;
  height: 640px;

}

.main_image img {
  width: 960px;
  height: 640px;
}

.images_list {
  z-index: 1;
  margin-top: 5px;
  height: 100px;
  width: 960px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.images_list img {
  width: 200px;

  object-fit: none;
}

.images_list img + img {
  border-left: solid black;
}

.prepare_image {
  z-index: 1;
  position: absolute;
  width: 960px;
  height: 640px;
  transform-origin: center;
  animation: upscaleImage 2s linear forwards;
}

@keyframes upscaleImage {
  0% {
      scale: 0;
  }
  100% {
      scale: 1;
  }
}

#list {
  user-select: none;
  padding-left: 15px;
}

#list li {
  width: 50px;
}
/* ///////////// */
@media (max-width: 1300px) {
        .box>div{
            display: none;
        }
        .menu__box,.menu__item,.menu__btn{
            visibility: visible;
          }
          .Elf1{
            grid-column: 1/3;
            text-align: center;
          }
          .Elf2{
            grid-column: 3/5;
            text-align: center;
          }
          .Elf3{
            grid-column: 1/3;
          }  
          .Elf4{
            grid-column: 3/5;
            text-align: center;
          }

  }

  @media(max-width:980px)
  {
    .main_image {
      min-width: 600px;
      width: 600px;
      height: 400px;
    
    }
    
    .main_image img {
      width: 600px;
      height: 400px;
    
    }
    
    .images_list {
      width: 600px;
      height: 100px;
    }
    .h1galary{
      font-size: 20px;
    }
  }

  @media(max-width:600px)
  {
    .main_image {
      min-width: 300px;
      width: 200px;
      height: 200px;
    
    }
    
    .main_image img {
      width: 300px;
      height: 200px;
    
    }
    
    .images_list {
      width: 300px;
      height: 100px;
    }
    .h1galary{
      text-align: justify;
      font-size: 14px;
    }
  }
  

